
#box-tabs{
  font-size: 12px;
  font-weight: bold;
  background-color: #15171a;
  border-radius: 5px 5px 0px 0px;
}
.nav-tabs {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
  width: 100%;
  padding: 0;
  list-style-type: none;
}
.nav .nav-tabs{
  background-color: #231402;
}
.nav-item {
  flex: 1 0 180px; /* Define um tamanho mínimo e flexível para cada item */
  margin-right: 5px; /* Espaçamento entre os itens */
  margin-bottom: 5px; /* Espaçamento entre as linhas */
}
.nav-link {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px 15px;
  color: white;
  background-color: #1d1f24;
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
  height: 40px; /* Altura fixa para todos os botões */
  overflow: hidden; /* Evita que conteúdos maiores alterem a altura */
}
.nav-link:hover {
  color: white;
  border: 1px solid #1d1f24 !important;
  background-color: #1d1f24 !important;
  transition: 0.6s;
}
.nav-link.active {
  color: white !important;
  border: 1px solid #1d1f24 !important;
  background-color: #1d1f24 !important;
}
