#box-tabs {
  width: 100%;
  height: 60px;
  display: flex;
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta rolagem vertical */
  white-space: nowrap; /* Impede quebra de linha dos itens */
  -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos móveis */
}

#box-tabs .nav-tabs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: nowrap; /* Garante que os itens não quebrem para a linha seguinte */
}

#box-tabs .nav-item {
  flex: 0 0 auto; /* Impede os itens de encolher ou crescer */
}

#box-tabs .nav-link {
  display: block;
  padding: 10px 20px; /* Espaçamento interno dos itens */
  text-align: center;
  cursor: pointer;
  white-space: nowrap; /* Impede quebra de linha dentro dos itens */
  background-color: #f8f9fa; /* Cor de fundo dos itens */
  color: #333; /* Cor do texto dos itens */
  border: 1px solid #ddd; /* Borda dos itens */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s, color 0.3s; /* Transição suave para efeitos de hover */
}

#box-tabs .nav-link.active {
  background-color: #e55353; /* Cor de fundo para o item ativo */
  color: white; /* Cor do texto do item ativo */
  border-color: #e55353; /* Cor da borda do item ativo */
}

#box-tabs .nav-link:hover {
  background-color: #e2e6ea; /* Cor de fundo ao passar o mouse */
  color: #333; /* Cor do texto ao passar o mouse */
}

/* Personalização da barra de rolagem */
#box-tabs::-webkit-scrollbar {
  height: 15px; /* Largura da barra de rolagem horizontal */
}

#box-tabs::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor de fundo da área da rolagem */
}

#box-tabs::-webkit-scrollbar-thumb {
  background: #e55353; /* Cor da parte móvel da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas para o controle de rolagem */
  cursor: pointer;
}

#box-tabs::-webkit-scrollbar-thumb:hover {
  background: #d9534f; /* Cor da parte móvel ao passar o mouse */
  cursor: pointer;
}
