.titulos-relatorio-praticante{
  margin: 20px auto;
  display: block;
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
}
.h3-tabela{
  text-align: center;
}
.celula-header-tabela{
  text-align: center;
}
